/*#region ADMIN */
.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e10600;
}

.background {
  width: 60%;
  height: 100%;
  filter: invert(100%);
}

.formulario {
  width: 40%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 45px;
  padding-inline: 6%;
  border-radius: 21px 0px 0px 21px;
  border-left: 1px solid gray;
  padding-bottom: 4.5rem;
}

.formulario h1 {
  font-size: 3em;
}

.formContainer {
  display: flex;
  flex-direction: column;
}

.formulario label {
  font-size: 1.11em;
  font-weight: 500;
}

.formulario button {
  transition: 150ms ease-in-out 0s;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid gray;
  padding-block: 6px;
  font-weight: 700;
  font-size: 1.2em;
  color: black;
  cursor: pointer;
}

.formulario button:hover {
  transition: 150ms ease-in-out 0s;
  background-color: #e10600;
  color: white;
}
/*#endregion */

/*#region DASHBOARD */
.dashboard {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.breadcrumbs {
  list-style: none;
  display: flex;
  padding-left: 1rem;
  margin-block: 1rem;
}

.breadcrumbLink {
  font-size: 0.9em;
  color: gray;
  text-decoration: none;
}

.breadcrumbLink:hover {
  text-decoration: underline;
}

.dashboardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 3%;
  gap: 21px;
}

.dashboardDrivers {
  text-decoration: none;
  transition: 90ms ease-in-out 0s;
  height: 15vh;
  width: 80%;
  border: 3px solid black;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(116, 112, 112, 1) 71%,
    rgba(83, 83, 83, 1) 100%
  );
}

.dashboardDrivers:hover {
  transition: 90ms ease-in-out 0s;
  box-shadow: 1px 2px 9px gray;
}

.dashboardDrivers p {
  font-size: 2.4em;
  font-weight: 600;
  padding-inline: 18px;
  color: black;
}

.dashboardDrivers img {
  width: 330px;
  margin-inline: 30px;
}
/*#endregion */

/*#region DRIVERS */
.drivers {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.tableContainer {
  padding-inline: 1.5%;
}

.tableContainer h2 {
  font-size: 2.4em;
  font-weight: 500;
  margin-bottom: 1rem;
}

.table {
  margin-top: 1.5rem;
  border-radius: 5px;
  font-size: 13px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.table td,
.table th {
  text-align: center;
  padding: 8px;
}

.table td {
  border-right: 1px solid #f8f8f8;
  font-size: 13px;
}

.table thead th {
  color: gray;
}

.table tr:nth-child(even) {
  background: #f8f8f8;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  gap: 9px;
}

.buttonGroup button {
  display: flex;
  padding-inline: 3px;
  padding-block: 1px;
  cursor: pointer;
}

.addNewDriver {
  color: black;
  text-decoration: none;
  border: 1px solid gray;
  border-radius: 6px;
  padding: 3px 15px;
}
/*#endregion */

@media (min-width: 640px) and (max-width: 1024px) and (orientation: landscape) {
  /*#region ADMIN */
  .background {
    width: 50%;
  }

  .formulario {
    width: 50%;
    padding-bottom: 0.9rem;
  }
  /*#endregion */

  /*#region DASHBOARD */
  .dashboardDrivers img {
    width: 150px;
  }
  /*#endregion */
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  /*#region ADMIN */
  .page {
    justify-content: center;
    align-items: center;
    background-color: #e10600;
    position: relative;
  }

  .background {
    width: 81%;
    position: absolute;
  }

  .formulario {
    width: 48%;
    height: 66%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 99;
    gap: 42px;
    border-radius: 21px;
    border: 2px solid gray;
    padding-bottom: 0rem;
  }
  /*#endregion */

  /*#region DASHBOARD */
  .dashboardDrivers img {
    width: 150px;
    margin-inline: 15px;
  }
  /*#endregion */
}

@media (min-width: 210px) and (max-width: 768px) and (orientation: portrait) {
  /*#region ADMIN */
  .page {
    justify-content: center;
    align-items: center;
    background-color: #e10600;
    position: relative;
  }

  .background {
    width: 90%;
    height: 69%;
    position: absolute;
  }

  .formulario {
    width: 96%;
    height: 57%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 99;
    gap: 42px;
    border-radius: 21px;
    border: 2px solid gray;
    padding-bottom: 0rem;
  }
  /*#endregion */

  /*#region DASHBOARD */
  .dashboardDrivers {
    height: 15vh;
    width: 93%;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(116, 112, 112, 1) 93%,
      rgba(83, 83, 83, 1) 100%
    );
  }

  .dashboardDrivers p {
    font-size: 2em;
  }

  .dashboardDrivers img {
    display: none;
  }
  /*#endregion */

  /*#region DRIVERS */
  .tableContainer {
    padding-inline: 0%;
  }

  .tableContainer h2 {
    padding-left: 3%;
  }

  .tableContainer a {
    margin-left: 3%;
  }

  .table {
    margin-top: 1.5rem;
    border-radius: 5px;
    font-size: 9px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
  }

  .table td,
  .table th {
    text-align: center;
    padding: 3px;
  }

  .table td {
    border-right: 1px solid #f8f8f8;
    font-size: 9px;
  }

  .table thead th {
    color: gray;
  }

  .table tr:nth-child(even) {
    background: #f8f8f8;
  }
  /*#endregion */
}
